body {
  background-color: #FFEBCC;
  overflow-x: hidden;
  overflow-y: hidden;
}

.box_1 {
  background: #E7BDBD;
  width: 307px;
  height: 570px;
  margin-top: 12vh;
  margin-left: 24vw;
}

.box_2 {
  background: #051C31;
  width: 58px;
  height: 704px;
  margin-top: -49vh;
  margin-left: 15vw;
}

.box_3 {
  background: #051C31;
  width: 51px;
  height: 340px;
  margin-top: -38vh;
  margin-left: 22vw;
}

.box_4 {
  background: #FFA800;
  width: 52px;
  height: 242px;
  margin-top: -31vh;
  margin-left: 71vw;
}

.box_5 {
  background: #FFA800;
  width: 52px;
  height: 210px;
  margin-top: -20vh;
  margin-left: 77vw;
}

.box_6 {
  background: #FFA800;
  width: 25px;
  height: 310px;
  margin-top: -10vh;
  margin-left: 115vh;
}

.oval_1 {
  position: absolute;
  background: #C63232;
  width: 1323px;
  height: 439px;
  margin-top: -64vh;
  margin-left: 2vw;
  border-radius: 50%;
  z-index: -2;
}

.oval_2 {
  position: absolute;
  background: #305284;
  transform: rotate(-57deg);
  width: 245.04px;
  height: 747.64px;
  z-index: 1;
  border-radius: 50%;
  margin-top: -61vh;
  margin-left: 49vw;
}


.line_1 {
  position: absolute;
  background: #99B8A5;
  width: 1249px;
  height: 63px;
  z-index: -1;
  margin-top: -72vh;
  margin-left: 6vw;
  transform: skew(51deg, 7deg);
}

.line_2 {
  background: #558167;
  width: 1344px;
  height: 38px;
  margin-top: -20vh;
  margin-left: 2vw;
  position: absolute;
  z-index: 2;
  transform: rotate(-2deg);
}
