body {
  background-color: #FFD089;
  overflow-x: hidden;
}

.box {
  position: absolute;
  z-index: 1;
  background: #A65555;
  width: 231px;
  height: 663px;
  transform: translate(490px, 75px);
}

.triangle {
  position: absolute;
  z-index: 1;
  width: -36.05px;
  height: 208.42px;
  border-top: 90px solid transparent;
  border-right: 422px solid #5C4646;
  border-bottom: -26px solid transparent;
  transform: translate(300px, 648px);
}

.circle {
  position: absolute;
  z-index: 1;
  background: #F36C6C;
  width: 254px;
  height: 250px;
  border-radius: 50%;
  transform: translate(170px, 640px);
}

.triangle1 {
  position: absolute;
  z-index: 1;
  width: 574px;
  height: 191px;
  transform: translate(260px, 650px);
  border-top: 37px solid transparent;
  border-right: 407px solid #935F5F;
}

.triangle2 {
  position: absolute;
  z-index: 1;
  width: 551.65px;
  height: -18px;
  /* transform: translate(376px, 1226px); */
  border-top: 53px solid transparent;
  border-right: 313px solid #E6B4B4;
  height: 278px;
}

.box1 {
  position: absolute;
  z-index: 1;
  background: #582626;
  width: 81px;
  height: 488.71px;
  transform: matrix(0, 2, 1, 1, 1005, 787);
}

.box2 {
  position: absolute;
  z-index: 1;
  background: #A64040;
  width: 114px;
  height: 77.65px;
  transform: translate(793px, 1478px);
}

.line {
  position: absolute;
  z-index: 2;
  background: #558167;
  width: 500.23px;
  height: 45.35px;
  transform: matrix(1, -1, 0, -1, 200, 278);
}

.line1 {
  position: absolute;
  z-index: -1;
  background: #99B8A5;
  width: 218.25px;
  height: 25.97px;
  transform: matrix(2, 1, -3, 1, 740, 490);
}

.line2 {
  position: absolute;
  z-index: 2;
  background: #41614E;
  width: 149.49px;
  height: 24.97px;
  transform: matrix(2, 0, -3, 2, 600, 1175);
}
